[flake8]

# Максимальная длина строки (PEP 8 рекомендует 79, но 88 или 120 тоже популярны)
max-line-length = 120

# Директории и файлы, которые нужно полностью исключить из проверки
exclude =
    .git,
    __pycache__,
    env,
    venv,
    build,
    dist,
    migrations
